<!DOCTYPE html>
<html ng-app="LibreriaApp">
  <head>
    <title>Libreria app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/style/app.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController as tab">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Libreria</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li ng-class="{ active: tab.isSet(1) }"> <a ui-sref="Home" ng-click="tab.setTab(1)">Home</a></li>
            <li ng-class="{ active: tab.isSet(2) }"><a ui-sref="Buscar" ng-click="tab.setTab(2)">Buscar</a></li>
            <li ng-class="{ active: tab.isSet(3) }"><a ui-sref="Insertar" ng-click="tab.setTab(3)">Insertar</a></li> 
          </ul>
        </div>
      </div>
    </nav>
    
    <div  ui-view class="b"></div>
    
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <!-- uirouter -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    
   
    <!-- script app -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/appControllers/BuscarController.js"></script>
    <script type="text/javascript" src="app/appControllers/HomeController.js"></script>
    <script type="text/javascript" src="app/appControllers/InsertarController.js"></script>
    <script type="text/javascript" src="app/appControllers/navController.js"></script>
    <script type="text/javascript" src="app/appControllers/ModificarController.js"></script>
  </body>
</html>