<div class="row a" ng-controller="ModificarController">
  
  <!-- col-sn-offset-3 lo pone el medio -->
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <strong>Nombre:  </strong>
      <input type="text" ng-model="nuevoLibro.name" class="form-control" value="libro.name">
    </div>
    
    <div class="row">
      <strong>Año:  </strong>
      <input type="text" ng-model="nuevoLibro.year" ng-value="name" class="form-control" >
    </div>
    
    <div class="row">
      <strong>Lenguaje:  </strong>
      <input type="text" ng-model="nuevoLibro.language" class="form-control" value="libro.language">
    </div>
    
    <div class="row">
      <strong>Autor:  </strong>
      <input type="text" ng-model="nuevoLibro.author" class="form-control" value="libro.author">
    </div>
    
    <button ng-click="createBook()">Submit</button>
    <h1 ng-show="insertado"> Insertado Correctamente </h1>
  </div>
  

</div>